
<h1>User App</h1>
<div class="container my-3">
    <div class="row">
        <div class="col mt-3 mx-3">
            <button class="btn btn-sm btn-primary mb-2" (click)="setOpen()">{{hideForm? 'Esconder Form':'Mostrar Form'}}</button>
            
            <div class="col mt-3 mx-3">
                <user [users]="users" (onRemoveEvent)="removeUser($event)" 
                (updateUserEvent)="updateUser($event)"></user>
            </div>
        </div>
    </div>
    @if (hideForm) {
        <div class="abrir-modal animacion fadeIn">

            <user-form
            [user]="userSelected" 
            (onAddEvent)="addUser($event)"
            (onOpenEvent)="setOpen()"
            ></user-form>
        </div>
    }
</div>
