<div>
    <div>
        <h2>Ejemplo Factura</h2>
        <div>
            <ul>
                <li>
                    Id: {{invoice.id}}
                </li>
                <li>
                    Nombre: {{invoice.name}}
                </li>
            </ul>
        </div>

        <div>
            <h3>Informacion del cliente</h3>
            <ul>
                <li>
                    Nombre: {{invoice.client.name}} {{invoice.client.lastName}}
                </li>
                <li>
                    Direccion: {{invoice.client.address.country}} / {{invoice.client.address.city}} / {{invoice.client.address.street}} / {{invoice.client.address.number}}
                </li>
            </ul>
        </div>

        <div>
            <h3>Informacion de la empresa</h3>
            <ul>
                <li>
                    Nombre: {{invoice.company.name}}
                </li>
                <li>
                    NIT: {{invoice.company.fiscalNumber}}
                </li>
            </ul>
        </div>

        <div>
            <h3>Detalle de la factura</h3>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of invoice.items; track $index) {
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.product}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                    </tr>
                    }
            </table>
        </div>
    </div>
</div> 