<div class="card w-50 mx-auto">
    <div class="card-header">
        <div class="mb-3">
            <h4 class="card-title">{{title}}</h4>
        </div>   
    </div>
        <div class ="card-body" >
            @if (user.photo) {
                <div class="text-center">
                    <img src="{{url + user.photo}}" alt=""  width="100" height="100" class="rounded-circle">
                </div>
            }@else {
                <div class="text-center">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt=""  width="100" height="100" class="rounded-circle">
                </div>
            }
            @if (user.username == login.user.username || login.isAdmin) {
                <label for="formFile" class="form-label">Cambiar foto de Perfil</label>
                <input class="form-control w-50" type="file" id="formFile" (change)="selectPhoto($event)">
                
                    <button class="btn btn-primary mt-3" [disabled]="!this.file" (click)="uploadPhoto()">Subir</button>
            
            }


        </div>
</div>
