<div class="card">
        <div class="card-content">
            <div class="card-header">
                <h5 class="card-title">Form {{(user.id > 0)? 'Update': 'Create'}} User</h5>
            </div>
            <div class="card-body">

                <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">

                    <div>
                        <label for="name">Name</label>
                        <input placeholder="Name" name="name" [(ngModel)]="user.name" class="form-control my-2" required
                            #name="ngModel">
                        @if (errors.name) {
                            <div class="alert alert-danger">
                                {{errors.name}}
                            </div>
                        }
                        
                    </div>
                    <div>
                        <label for="lastname">Lastname</label>
                        <input placeholder="Lastname" name="lastname" [(ngModel)]="user.lastname" 
                            class="form-control my-2" #lastname="ngModel">
                        @if (errors.lastname) {
                            <div class="alert alert-danger">
                                {{errors.lastname}}
                            </div>
                        }
                        
                    </div>

                    <div>
                        <label for="email">Email</label>
                        
                        <input placeholder="Email" name="email" [(ngModel)]="user.email" class="form-control my-2"
                            type="email"  email #email="ngModel">
                        
                        @if (errors.email) {
                            <div class="alert alert-danger">
                                {{errors.email}}
                            </div>
                        }
                    </div>
                    <div>
                        <label for="username">Username</label>
                        <input placeholder="Username" name="username" [(ngModel)]="user.username"
                            class="form-control my-2"   #username="ngModel">
                        
                        @if (errors.username) {
                            <div class="alert alert-danger">
                                {{errors.username}}
                            </div>
                        }
                    </div>
                    @if (user.id == 0) {
                        <label for="password">Password</label>
                        <div>
                            <input placeholder="Password" name="password" type="password" [(ngModel)]="user.password"
                                class="form-control my-2"   #password="ngModel">
                            @if (errors.password) {
                                <div class="alert alert-danger">
                                    {{errors.password}}
                                </div>
                            } 
                        </div>
                    }

                    @if (admin) {
                        <div class="form-check">
                                @if (user.admin) {

                                    <input class="form-check-input" type="checkbox" [(ngModel)]="user.admin" id="flexCheckDefault" name="admin" checked>
                                }@else {

                                    <input class="form-check-input" type="checkbox" [(ngModel)]="user.admin" id="flexCheckDefault" name="admin">
                                }
                                <label class="form-check-label" for="flexCheckDefault">
                                  Es Administrador
                                </label>
                        </div>
                    }

                    <div>
                        <button type="submit" class="btn btn-primary m-2" >
                            {{(user.id > 0)? 'Update': 'Create'}}
                        </button>

                        <button type="button" class="btn btn-secondary my-2" (click)="onClear(userForm)">
                            Clear
                        </button>
                    </div>

                </form>
            </div>

        </div>
</div>