
<h2>Carro de Compras</h2>

<table class="table">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @for (item of items; track $index) {
        <tr>
            <td>{{item.product.name}}</td>
            <td>{{item.product.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.product.price * item.quantity}}</td>
        </tr>
        }

    </tbody>
</table>