<div class="container">

    <h1 class="m-3">Carro de Compras</h1>

    <nav class="navbar navbar-expand-lg bg-body-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Cart-App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" (click)="setShowCart()" role='button'>Cart ({{items.length}})</a>
            </ul>
          </div>
        </div>
      </nav>

    <div class="row">
        <div class="col" [className]="showCart ? 'col-lg-8' : 'col'">

            <catalog [products]="products" (addToCart)="addButton($event)"></catalog>
            

        </div>
        
        @if (showCart) {
        
            <div class="col-lg-4">
                    @if (items.length > 0) {
                        <button class="btn btn-danger float-end" (click)="setShowCart()">Ocultar Carro</button>
                        <div cart [items]="items" [total]="total" (onRemove)="removeButton($event)"></div>
                    }@else {
                        <p class="alert alert-info text-center">No hay productos en el carro</p>
                    }
                </div>
            }            
        </div>
    
    
</div>